@font-face {
  font-family: 'Arial Regular';
  src: url('../fonts/ArialMT.eot');
  src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ArialMT.woff') format('woff'),
  url('../fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'Arial Bold';
    src: url('../fonts/Arial-BoldMT.eot');
    src: url('../fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial-BoldMT.woff') format('woff'),
    url('../fonts/Arial-BoldMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @mixin reg {
      font-family: 'Arial Regular', sans-serif;
      font-weight: 400;
    }
  
    @mixin bold{
      font-family: 'Arial Bold', sans-serif;
      font-weight: 400;
    }