.attractions
  text-align: center
  padding-bottom: 57px
  border-bottom: 5px solid rgba(223, 223, 223, 0.5)
  margin-bottom: 20px
  &__title 
    +services__title 
    margin-bottom: 17px
  &__subtitle
    +services__text
    max-width: 785px
    text-align: center
    margin-left: auto
    margin-right: auto
    margin-bottom: 40px
  &-block 
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 32px
    a 
      text-decoration: none
    &__item
      max-width: 362px
      background-color: $bg-color-card
      padding-bottom: 28px
      border-bottom: 3px solid #eeeeee
      &:hover 
        cursor: pointer
        border-bottom: 3px solid #3fc380
        .attractions-block__text
          &:before
            background: #383838

    &__date 
      color: #8e8e8e
      +roboto
      font-size: 14px
      line-height: 24px
      margin-bottom: 5px
      text-align: left
      margin-top: 16px
      padding-left: 25px
    &__text 
      +roboto
      color: #383838 
      font-size: 19px
      font-weight: 700
      line-height: 24px
      display: block
      // max-width: 312px
      text-align: left
      padding-left: 23px
      margin-bottom: 10px
      &:before
        content: ''
        display: block
        height: 2px
        background: #cccccc
        width: 40px
        margin-bottom: 19px
    
  &__button
    +button-btn

@media (max-width: 1200px)
  .attractions
    &-block
      flex-direction: column
      &__item 
        margin-left: auto
        margin-right: auto
        margin-bottom: 20px




