.description
  padding-bottom: 86px
  &-block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    text-align: center
    &__item
      max-width: 360px
      display: flex
      flex-direction: column 
      align-items:  center
      justify-content:  flex-end
    &__title
      font-size: 17px
      text-transform: uppercase
      +roboto-bold
    &__text
      font-size: 14px
      line-height: 21px
      text-align: justify
      +roboto-light