.hero 
  background: url('../img/hero/text_mask.png') no-repeat 52% 29%,
  url('../img/hero/11-layers.jpg') no-repeat  50% 0

    // .fonts
  // background: url('../img/hero/7-layers.png') no-repeat
  // background-position: 50% 0
  // background-position: 52% 29%
  text-align: center
  padding-top: 77px
  padding-bottom: 184px
  border: red
  margin-bottom: 30px
  position: relative
  &:before
    width: 252px
    height: 331px
    content: ''
    background: url('../img/hero/Layer_7.png') no-repeat
    background-blend-mode: normals
    position: absolute
    top: -86px
    right: 302px
  &__title 
    font-size: 160px
    line-height: 24px
    color: $text-decoration
    font-weight: 400
    // font-stretch: normal
    margin-bottom: 114px
    text-shadow: rgba(247, 247, 247, 0.9) 5px 5px 0
    +gothic
  &__text
    max-width: 750px
    margin: auto
    +reg
    color: $text-decoration
    font-size: 19px
    line-height: 26px
    margin-bottom: 35px
  &__button 
    width: 198px
    height: 55px
    background: transparent
    color: $text-decoration
    border: 1px solid $text-decoration
    &:hover
      border: 12px solid $text-decoration



@media (max-width: 1200px)
  .hero
    padding-bottom: 120px
    &__title 
      font-size: 105px

@media (max-width: 768px)
  .hero
    padding-bottom: 80px
    &__title 
      font-size: 77px
      margin-bottom: 80px
    &__text 
      font-size: 14px

@media (max-width: 567px)
  .hero
    padding-top: 40px
    padding-bottom: 50px
    &__title
      font-size: 40px
      margin-bottom: 50px
    &__text 

@media (max-width: 1200px)
  .hero
    background: none, url('../img/hero/11-layers.jpg') no-repeat 50% 0
    // background-size: 200% 110%

// @media (max-width: 768px)
//   .hero
//     background-size: 200% 120%

// @media (max-width: 567px)
//   .hero
//     background-size: 162% 85%
//     background-position: 50% 100%


