.modal 
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(#000, 0.5)
  display: none
  z-index: 5
  &_active
    display: flex
  &-block
    padding-bottom: 30px
    margin: auto 
    position: relative
    width: 950px
    background: #f7f9f9

  &__form   
    text-align: center
    padding-left: 20px
    padding-right: 20px
    &-title 
      +roboto-bold
      font-size: 26px 
      text-transform: uppercase
      text-align: center
      background-color: #3fc380
      padding-bottom: 20px
      padding-top: 20px
      color: white  
      margin-top: 0
    &-block
      display: flex
      flex-wrap: wrap 
      justify-content: space-between
      &__item 
        // width: 270px
  &__mesages
    width: 100%
    margin-bottom: 20px 
    display: block
    height: 96px
    border: none 
    
  &__button 
    +button-btn
  &__input
    height: 53px
    width: 293px
    margin-bottom: 12px
    border: none
  &__close 
    position: absolute
    top: -30px
    right: -30px
    height: 35px
    width: 35px
    border-radius: 50%
    color: white 
    font-size: 30px
    font-weight: 700
    text-align: center
    background-color: rgba(#000, 0.5)
    border: none
    cursor: pointer
    outline: none
    

@media (max-width: 1035px)
  .modal
    // max-width: 600px
    // width: 100%
    &-block
      max-width: 600px
    &__form
      &-title
        font-size: 22px 
      &-block 
        flex-direction: column
        &__item
    &__input 
      width: 100%

@media (max-width: 675px)
  .modal
    // max-width: 600px
    // width: 100%
    &-block
      max-width: 87%
    &__form
      &-title
        font-size: 20px 
    &__input 
      width: 100%

@media (max-width: 446px)
  .modal
    // max-width: 600px
    // width: 100%
    &-block
      max-width: 90%
    &__close 
      top: -18px
      right: -18px







