.room
  background: url('../img/room/room.jpg') no-repeat
  background-size: contain
  background-position: center left
  // background-position: 0% 100%
  position: relative
  padding-bottom: 84px
  margin-bottom: 42px
  &:after
    content: ''
    width: 46%
    height: 100%
    position: absolute
    top: 0
    right: 0
    background-color: rgba(247, 249, 249, 1)
  &-block 
    display: flex
  &__name 
    color: #fff 
    text-shadow: #000 1px 1px 0
    font-size: 100px
    line-height: 76px
    text-align: right
    max-width: 554px
    +gothic
    margin-top: 130px
    margin-right: 90px
  &__main
    position: relative
  &__line
    position: absolute
    // bottom: 117
    left: 0
    top: 234px
    // width: 131px
    // height: 6px
  &__description 
    padding-left: 33px
    max-width: 480px
    z-index: 2
    padding-top: 60px
  &__title
    +services__title 
    margin-bottom: 10px
  &__text
    +services__text
    margin-bottom: 28px
  &__button
    +button-btn

@media (max-width: 1200px)
  .room
    background-size: cover
    padding-bottom: 40px
    &__name
      font-size: 80px
      line-height: 76px
      max-width: 554px
      margin-right: 40px
      margin-top: 100px
    &__description
      padding-left: 20px
      padding-top: 30px
      padding-top: 12px
    &__title 
      font-size: 26px
    &__text
      font-size: 15px
      line-height: 22px

@media (max-width: 768px)
  .room
    background-position: 50% 100%
    background-size: 100% 50%
    &:after
      height: 50%
      width: 100%
    &-block 
      flex-wrap: wrap
      flex-direction: column-reverse
    &__description
      margin-left: auto
      margin-right: auto
      padding-left: 0
    &__text 
      max-width: 450px  
    &__button 
      display: block
      margin-left: auto
      margin-right: auto 
    &__line
      display: none

@media (max-width: 567px)
  .room
    background-size: 100% 44%
    &:after 
      height: 56%
    &__name
      font-size: 60px
      line-height: 50px
      width: 267px
      margin-left: auto 
      margin-right: auto 
    &__title 
      font-size: 24px
    &__text
      font-size: 14px
      line-height: 20px
      margin-bottom: 10px





