body{
  color: #32325f
}
.main-image img{
  max-width: 100%;
}
/*.people img{
  min-width: 100%;
  max-width: 98%;
}*/
.subtitle, .section-subtitle, .people-subtitle{
  font-size: 20px;
  font-weight: 400;
}
.title, .section-title, .people-title{
  font-size: 48px;
  font-weight: 700;
}
.price{
  font-size: 48px;
  font-weight: 400;
}
.main{
  margin-top: 100px;
}
.hero{
  background-color: #f4f5f7;
  padding-top: 70px;
  padding-bottom: 190px;
}
.section{
  padding-bottom: 100px;
  padding-top: 100px;
}
.about-block{
  margin-top: 100px;
}
.footer-wrap{
  padding-top: 78px;
  padding-bottom: 104px;
}
.footer{
  color: #ffffff;
  background-color: #32325f;
}
.footer a{
  text-decoration: none;
  color: #ffffff;
}
.footer-title{
  font-size: 24px;
  font-weight: 700;
}
.footer p{
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}
.people-wrap{
  padding-top: 90px;
}
.people{
  background-color: #f4f5f7;
  padding-top: 90px;
  padding-bottom: 110px;
}