body
  font-family: sans-serif
  color: #666666
.container
  max-width: 1176px
  margin-right: auto
  margin-left: auto
  
.main
  margin-top: 100px
  &-title 
    font-size: 35px
    font-weight: 700
    line-height: 25px
    text-transform: uppercase
    text-align: center 
    margin-bottom: 75px
  &-blocks 
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    

  &-block 
    max-width: 276px
    margin-bottom: 30px
    &__image
      max-width: 100%

    &__title
      font-size: 18px
      font-weight: 500
      line-height: 22px
      text-transform: uppercase
      text-align: center
      margin-top: 30px
      margin-bottom: 30px
.buttons
  display: flex
  justify-content: space-between
.btn
  width: 133px
  height: 41px
  font-size: 14px
  font-weight: 700
  line-height: 25px
  text-transform: uppercase
  border: 2px solid #66cc66

  
  
  &-primary
    color: #66cc66
    background-color: #fff
  &-primary:hover
    background-color: #FA8072  
  &-success
    overflow: hidden
    backface-visibility: hidden
    background-color: #66cc66
    position: relative
    color: #66cc66
    transition: color 300ms
    transform: translateZ(0)
  &-success:before
    content: ""
    position: absolute
    z-index: -1
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(255, 255, 255, 0.98)
    border-radius: 100%
    transform: scale(2)
    transition-property: transform
    transition: 300ms ease-out
    
  &-success:hover:before
    transform: scale(0)
  &-success:hover
    color: #fff
    


