@font-face {
  font-family: 'Museo Sans Light';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff') format('woff'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot');
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  }

  @mixin reg {
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 400;
  }

  @mixin bold{
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }

  @font-face {
    font-family: 'Roboto Rgular';
    src: url('../fonts/Roboto/RobotoRegular/RobotoRegular.eot');
    src: url('../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/RobotoRegular/RobotoRegular.woff') format('woff'),
    url('../fonts/Roboto/RobotoRegular/RobotoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }

  @font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto/RobotoBold/RobotoBold.eot');
    src: url('../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/RobotoBold/RobotoBold.woff') format('woff'),
    url('../fonts/Roboto/RobotoBold/RobotoBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }

  @font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto/RobotoLight/RobotoLight.eot');
    src: url('../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/RobotoLight/RobotoLight.woff') format('woff'),
    url('../fonts/Roboto/RobotoLight/RobotoLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }

  @mixin roboto {
    font-family: 'Roboto Rgular', sans-serif;
    font-weight: 300; 
  }

  @mixin roboto-bold {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 700; 
  }

  @mixin roboto-light {
    font-family: 'Roboto Light', sans-serif;
    font-weight: 300; 
  }


  @font-face {
    font-family: 'Franklin Gothic';
    src: url('../fonts/FranklinGothic-Heavy/FranklinGothic-Heavy.eot');
    src: url('../fonts/FranklinGothic-Heavy/') format('embedded-opentype'),
        url('../fonts/FranklinGothic-Heavy/FranklinGothic-Heavy.woff') format('woff'),
        url('../fonts/FranklinGothic-Heavy/FranklinGothic-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@mixin gothic {
  font-family: 'Franklin Gothic', sans-serif;
  text-transform: uppercase;
}
@font-face {
  font-family: 'Roboto Th';
  src: url('../fonts/Roboto/RobotoThin/Roboto-Thin.eot');
  src: local('Roboto Thin'), local('Roboto-Thin'),
      url('../fonts/Roboto/RobotoThin/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/RobotoThin/Roboto-Thin.woff') format('woff'),
      url('../fonts/Roboto/RobotoThin/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@mixin roboto-thin {
  font-family: 'Roboto Th', sans-serif;

}