*
	box-sizing: border-box

img 
  max-width: 100%

.container 
  margin-left: auto
  margin-right: auto
  width: 1140px

.button 
  text-transform: uppercase
  font-size: 13px
  line-height: 28px
  cursor: pointer
  border-radius: 50px

@media (max-width: 1200px)
  .container
    width: 760px
@media (max-width: 768px)
  .container
    max-width: 580px
    width: 90%

=services__title 
  +roboto
  font-size: 30px
  line-height: 24px
  @media (max-width: 567px)
    font-size: 24px

=services__text 
  +roboto
  font-size: 16px
  line-height: 24px
  @media (max-width: 567px)
    font-size: 14px
    line-height: 22px
=button-btn
  width: 184px
  height: 51px
  background-color: $text-color-hover
  border-radius: 50px
  color: $text-decoration
  +roboto
  font-size: 13px
  font-weight: 500
  line-height: 28px
  text-transform: uppercase
  border: none




.fonts
  background: url('../img/hero/7-layers.png') no-repeat
  background-position: 50% 0

@media (max-width: 1200px)
  .fonts
    background-size: 200% 110%

@media (max-width: 768px)
  .fonts
    background-size: 200% 120%

@media (max-width: 567px)
  .fonts
    background-size: 162% 85%
    background-position: 50% 100%

