*
	box-sizing: border-box

img 
  max-width: 100%

.container 
  margin-left: auto
  margin-right: auto
  width: 1140px

.button 
  text-transform: uppercase
  font-size: 13px
  line-height: 28px
  cursor: pointer
  border-radius: 50px
  outline: none



@media (max-width: 1200px)
  .container
    width: 760px
@media (max-width: 768px)
  .container
    max-width: 580px
    width: 90%

=services__title 
  +roboto
  font-size: 30px
  line-height: 24px
  font-weight: 700
  color: #383838
  @media (max-width: 567px)
    font-size: 24px
    line-height: 28px



=services__text 
  +roboto
  font-size: 16px
  line-height: 24px
  color: #383838
  @media (max-width: 567px)
    font-size: 14px
    line-height: 22px
=button-btn
  width: 184px
  height: 51px
  background-color: $text-color-hover
  border-radius: 50px
  color: $text-decoration

  +roboto
  font-size: 13px
  font-weight: 500
  line-height: 28px
  text-transform: uppercase
  border: none
  &:hover 
    background-color: lighten($text-color-hover, 10%)
  @media (max-width: 567px)
    width: 150px
    height: 48px
    font-size: 11px

input 
  outline: none 
  









